# data_exploration

In [20]:
import pandas as pd
import json

# Load the datasets
csv_data = pd.read_csv('data/raw data /Accidents-2019.csv')

with open('data/raw data /CalderdaleCollisions2020.json', 'r') as file:
    json_data = pd.json_normalize(json.load(file))

# Preview the datasets
print("CSV Data Preview:")
display(csv_data.head())

print("\nJSON Data Preview:")
display(json_data.head())

CSV Data Preview:

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,...,Type of Vehicle 6,Casualty Class 6,Casualty Severity 6,Sex of Casualty 6,Age of Casualty 6,Type of Vehicle 7,Casualty Class 7,Casualty Severity 7,Sex of Casualty 7,Age of Casualty 7
0,6140231,398364,418232,1,43469,701,A,Dry,Darkness: no street lighting,Fine without high winds,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6142035,407438,426457,1,43469,2308,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6170291,409015,425004,1,43472,838,Unclassified,Dry,Daylight: street lights present,Fine without high winds,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6180214,409646,422315,2,43473,705,A,Dry,Daylight: street lights present,Fine without high winds,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6191021,407754,428825,1,43474,1515,Unclassified,Dry,Daylight: street lights present,Fine without high winds,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

JSON Data Preview:

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of vehicles,Accident Date,Time (24hr),1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,...,Type of Vehicle 5,Casualty Class 5,Casualty Severity 5,Sex of Casualty 5,Age of Casualty 5,Type of Vehicle 6,Casualty Class 6,Casualty Severity 6,Sex of Casualty 6,Age of Casualty 6
0,7151256,408276,424970,2,43835,1750,Unclassified,Wet / damp,Darkness: street lights present and lit,Fine without high winds,...,,,,,,,,,,
1,7160423,414597,421599,1,43836,1030,A,Dry,Daylight: street lights present,Fine without high winds,...,,,,,,,,,,
2,7171140,408932,426594,1,43837,1640,A,Dry,Darkness: street lights present and lit,Fine with high winds,...,,,,,,,,,,
3,7171206,411284,420574,1,43837,1706,B,Dry,Darkness: street lights present and lit,Fine with high winds,...,,,,,,,,,,
4,7180871,392922,423132,1,43838,1441,A,Dry,Daylight: street lights present,Fine without high winds,...,,,,,,,,,,

In [18]:
print(csv_data.info())
print(json_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 45 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     271 non-null    object
 1   Grid Ref: Easting    271 non-null    int64
 2   Grid Ref: Northing   271 non-null    int64
 3   Number of Vehicles   271 non-null    int64
 4   Accident Date        271 non-null    int64
 5   Time (24hr)          271 non-null    int64
 6   1st Road Class       271 non-null    object
 7   Road Surface         271 non-null    object
 8   Lighting Conditions  271 non-null    object
 9   Weather Conditions   271 non-null    object
 10  Type of Vehicle 1    271 non-null    object
 11  Casualty Class 1     271 non-null    object
 12  Casualty Severity 1  271 non-null    object
 13  Sex of Casualty 1    271 non-null    object
 14  Age of Casualty 1    271 non-null    int64
 15  Type of Vehicle 2    191 non-null    object
 16  Casualty Class 2     198 non-null    object
 17  Casualty Severity 2  198 non-null    object
 18  Sex of Casualty 2    198 non-null    object
 19  Age of Casualty 2    197 non-null    object
 20  Type of Vehicle 3    39 non-null     object
 21  Casualty Class 3     50 non-null     object
 22  Casualty Severity 3  50 non-null     object
 23  Sex of Casualty 3    50 non-null     object
 24  Age of Casualty 3    50 non-null     object
 25  Type of Vehicle 4    15 non-null     object
 26  Casualty Class 4     20 non-null     object
 27  Casualty Severity 4  20 non-null     object
 28  Sex of Casualty 4    20 non-null     object
 29  Age of Casualty 4    20 non-null     object
 30  Type of Vehicle 5    4 non-null      object
 31  Casualty Class 5     6 non-null      object
 32  Casualty Severity 5  6 non-null      object
 33  Sex of Casualty 5    6 non-null      object
 34  Age of Casualty 5    6 non-null      object
 35  Type of Vehicle 6    3 non-null      object
 36  Casualty Class 6     4 non-null      object
 37  Casualty Severity 6  4 non-null      object
 38  Sex of Casualty 6    4 non-null      object
 39  Age of Casualty 6    4 non-null      object
 40  Type of Vehicle 7    1 non-null      object
 41  Casualty Class 7     1 non-null      object
 42  Casualty Severity 7  1 non-null      object
 43  Sex of Casualty 7    1 non-null      object
 44  Age of Casualty 7    1 non-null      object
dtypes: int64(6), object(39)
memory usage: 95.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     200 non-null    object
 1   Grid Ref: Easting    202 non-null    int64
 2   Grid Ref: Northing   202 non-null    int64
 3   Number of vehicles   202 non-null    int64
 4   Accident Date        202 non-null    int64
 5   Time (24hr)          202 non-null    object
 6   1st Road Class       202 non-null    object
 7   Road Surface         202 non-null    object
 8   Lighting Conditions  202 non-null    object
 9   Weather Conditions   202 non-null    object
 10  Type of Vehicle 1    202 non-null    object
 11  Casualty Class 1     202 non-null    object
 12  Casualty Severity 1  202 non-null    object
 13  Sex of Casualty 1    202 non-null    object
 14  Age of Casualty 1    202 non-null    int64
 15  Type of Vehicle 2    202 non-null    object
 16  Casualty Class 2     202 non-null    object
 17  Casualty Severity 2  202 non-null    object
 18  Sex of Casualty 2    202 non-null    object
 19  Age of Casualty 2    202 non-null    object
 20  Type of Vehicle 3    202 non-null    object
 21  Casualty Class 3     202 non-null    object
 22  Casualty Severity 3  202 non-null    object
 23  Sex of Casualty 3    202 non-null    object
 24  Age of Casualty 3    202 non-null    object
 25  Type of Vehicle 4    202 non-null    object
 26  Casualty Class 4     202 non-null    object
 27  Casualty Severity 4  202 non-null    object
 28  Sex of Casualty 4    202 non-null    object
 29  Age of Casualty 4    202 non-null    object
 30  Type of Vehicle 5    202 non-null    object
 31  Casualty Class 5     202 non-null    object
 32  Casualty Severity 5  202 non-null    object
 33  Sex of Casualty 5    202 non-null    object
 34  Age of Casualty 5    202 non-null    object
 35  Type of Vehicle 6    202 non-null    object
 36  Casualty Class 6     202 non-null    object
 37  Casualty Severity 6  202 non-null    object
 38  Sex of Casualty 6    202 non-null    object
 39  Age of Casualty 6    202 non-null    object
dtypes: int64(5), object(35)
memory usage: 63.3+ KB
None

In [15]:
print("CSV Missing Data Summary:")
print(csv_data.isnull().sum())

print("\nJSON Missing Data Summary:")
print(json_data.isnull().sum())

CSV Missing Data Summary:
Reference Number         0
Grid Ref: Easting        0
Grid Ref: Northing       0
Number of Vehicles       0
Accident Date            0
Time (24hr)              0
1st Road Class           0
Road Surface             0
Lighting Conditions      0
Weather Conditions       0
Type of Vehicle 1        0
Casualty Class 1         0
Casualty Severity 1      0
Sex of Casualty 1        0
Age of Casualty 1        0
Type of Vehicle 2       80
Casualty Class 2        73
Casualty Severity 2     73
Sex of Casualty 2       73
Age of Casualty 2       74
Type of Vehicle 3      232
Casualty Class 3       221
Casualty Severity 3    221
Sex of Casualty 3      221
Age of Casualty 3      221
Type of Vehicle 4      256
Casualty Class 4       251
Casualty Severity 4    251
Sex of Casualty 4      251
Age of Casualty 4      251
Type of Vehicle 5      267
Casualty Class 5       265
Casualty Severity 5    265
Sex of Casualty 5      265
Age of Casualty 5      265
Type of Vehicle 6      268
Casualty Class 6       267
Casualty Severity 6    267
Sex of Casualty 6      267
Age of Casualty 6      267
Type of Vehicle 7      270
Casualty Class 7       270
Casualty Severity 7    270
Sex of Casualty 7      270
Age of Casualty 7      270
dtype: int64

JSON Missing Data Summary:
Reference Number       2
Grid Ref: Easting      0
Grid Ref: Northing     0
Number of vehicles     0
Accident Date          0
Time (24hr)            0
1st Road Class         0
Road Surface           0
Lighting Conditions    0
Weather Conditions     0
Type of Vehicle 1      0
Casualty Class 1       0
Casualty Severity 1    0
Sex of Casualty 1      0
Age of Casualty 1      0
Type of Vehicle 2      0
Casualty Class 2       0
Casualty Severity 2    0
Sex of Casualty 2      0
Age of Casualty 2      0
Type of Vehicle 3      0
Casualty Class 3       0
Casualty Severity 3    0
Sex of Casualty 3      0
Age of Casualty 3      0
Type of Vehicle 4      0
Casualty Class 4       0
Casualty Severity 4    0
Sex of Casualty 4      0
Age of Casualty 4      0
Type of Vehicle 5      0
Casualty Class 5       0
Casualty Severity 5    0
Sex of Casualty 5      0
Age of Casualty 5      0
Type of Vehicle 6      0
Casualty Class 6       0
Casualty Severity 6    0
Sex of Casualty 6      0
Age of Casualty 6      0
dtype: int64

In [16]:
print("Unique Road Surface Conditions in CSV:")
print(csv_data['Road Surface'].unique())

print("\nUnique Road Surface Conditions in JSON:")
print(json_data['Road Surface'].unique())

Unique Road Surface Conditions in CSV:
['Dry' 'Wet / Damp' 'Frost / Ice' 'Flood (surface water over 3cm deep)'
 'Snow']

Unique Road Surface Conditions in JSON:
['Wet / damp' 'Dry' 'Frost / ice' 'Snow' 'Wet  / damp' 'Wet /  damp']

# Data Exploration Summary

## CSV Dataset
1. **Shape**: 271 rows and 45 columns.
2. **Missing Values**:
   - Significant missing data in columns related to additional vehicles and casualties:
     - `Type of Vehicle 2`: 80 missing values.
     - `Type of Vehicle 3`: 232 missing values.
     - `Type of Vehicle 4-7`: Majority of rows are missing.
   - First vehicle and casualty details (`Type of Vehicle 1`, `Casualty Severity 1`, etc.) have no missing data.
3. **Unique Road Surface Conditions**:
   - Categories: `['Dry', 'Wet / Damp', 'Frost / Ice', 'Flood (surface water over 3cm deep)', 'Snow']`.


## JSON Dataset
1. **Shape**: 202 rows and 40 columns.
2. **Missing Values**:
   - Only the `Reference Number` column has 2 missing values.
   - All other columns have no missing data.
3. **Unique Road Surface Conditions**:
   - Categories:
     - Clean categories: `['Wet / damp', 'Dry', 'Frost / ice', 'Snow']`.
     - Duplicated formatting issues: `['Wet  / damp', 'Wet /  damp']`.


## Initial Observations
1. The JSON dataset is more complete but has formatting inconsistencies in `Road Surface`.
2. The CSV dataset has more missing values, especially for secondary vehicles and casualties.
3. Both datasets have some overlap in the structure (e.g., casualty and vehicle details) but may need cleaning for consistent formatting.